#navbar {
	background: #765C3D;
}

nav a {
	color: #F2D2AE !important;
	text-align: center;
	font-size: 18px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

#logo {
	width: 48.632px;
	height: 44px;
	flex-shrink: 0;
}


#title {
    color: #FFF;
    font-size: 64px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.28px;
}

#description {
    color: #FFF;
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

#button {
    border-radius: 999px;
    background: #B59066;

    padding: 12px 32px;

    color: var(--button-text-button-primary-text, #FFF);
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

#landing {
    background:
        linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)),
        url('images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#gallery {
	color: #765C3D !important;
	text-align: center;
	font-size: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: normal;

}

div .carousel-item {
	background: url(<path-to-image), lightgray 50% / cover no-repeat;
	width: 830px;
	height: 401px;
}

#gallery + p {
	color: #765C3D !important;
	text-align: center;
	font-size: 24px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#album {
	background: #FFF;
	box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
	width: 1245px;
	height: 764px;
	flex-shrink: 0;
}

.AlbumTitle {
	color: #765C3D !important;
	font-size: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#AlbumDescription {
	color: #765C3D !important;
	font-size: 24px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#carouselExampleIndicators {
	border-radius: 50%;
}

#carousel-container {
	width: 1044px;
	height: 510px;
	flex-shrink: 0;
	color: #fff;
}

.carousel-indicators {
	left: 0;
	top: auto;
}

.carousel-indicators li {
	background: #ffffff 50%;
	border-radius: 50%;
	width: 20px;
	height: 0.1px;
}

.carousel-indicators .active {
	background: #ffffff;
}

#Contact {
	background-color: #fff2e4;
}

#ContactForm h2 {
	color: #765c3d;
	font-size: 40px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#ContactForm p {
	color: #765c3d;
	font-size: 24px;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#ContactForm form {
	color: #b59066;
	font-size: 20px;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#ContactForm button {
	color: var(--button-text-button-primary-text, #fff);
	text-align: center;
	font-size: 20px;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	border-radius: 999px;
	background: #b59066;
}

#ContactImage {
	background: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)),
    	url("images/contact.png");
	background-repeat: no-repeat;
	background-size: cover;
}

footer {
	background: #B59066;
}

footer .mx-2 {
	color: #FFF2E4 !important;
	font-size: 16px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}